<h1>Edit A Cryptid</h1>
<form method="POST" action="/cryptids">
  <label for="cryptidNumber">Cryptid Number</label>
  <input type="number" name="img_src">

  <label for="cryptidType">Image Source</label>
  <input type="text" name="img_src">

  <label for="cryptidName">Name</label>
  <input id="cryptidName" type="text" name="name">

  <input id="cryptidType" type="submit">
</form>
